



#contenedorTablero{
    width: 300px;
    height: 300px;
    margin-top: 10% !important;
}

#tablero{
    width: 100%;
    height: 100%;
}

.col-4{
    border: 1px solid black;
    width: 33.3333333%;
    height: 33.333333%;
}

p > img{
    width: 50px;
}

.col-4 > img{
    width: 100%;
    height: 100%;
}

.mcara, .mcruz{
    width: 20%;
    animation-name: giraMoneda;    
}

.mcara{
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.mcruz{
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

#errorLanzaMoneda{
    color: red;
    text-align: center;
}

#turno{
    text-align: center;
    font-size: 18px;
}

@keyframes giraMoneda {
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(90deg);
        display: none;
    }
}